.bg-white-almond {
    background-color: #EEE5DA;
}
.text-white-almond {
    color: #EEE5DA;
}

.bg-deep-charcoal {
    background-color: #262424;
}
.text-deep-charcoal {
    color: #262424;
}

.bg-paynes-grey {
    background-color: #536878;
}

.text-white-primer {
    color: #F1FAEE;
}

.bg-white-blue {
    background-color: #edf8ff;
}