body.bg-index {
    background-image: radial-gradient( circle 762px at 51.1% -7.2%,  rgba(160,137,230,1) 0%, rgba(39,26,88,1) 58.7%, rgba(28,28,28,1) 100.2% );
    background-attachment: fixed;
    background-size: cover;
    /* backdrop-filter: blur(10px); */
}

body {
    background-image: linear-gradient( 0.3deg,  rgba(160,137,230,1) -50.1%, rgba(39,26,88,1) 21.7%, rgba(28,28,28,1) 110.6% );
    background-attachment: fixed;
    background-size: cover;
}

.font-zalando {
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    font-optical-sizing: auto;
}

.font-zalando-sans {
    font-family: "Zalando Sans", sans-serif;
    font-optical-sizing: auto;
}

.text-dark-purple {
    color: #271a58;
}

.bg-soft-purple {
    background-color: #a089e5;;
}